.slideshow{
	margin: 0 auto;
	max-width: 500px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.navegacao{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
}

.barra{
	width: 10px;
	height: 10px;
	border: 2px solid #c3c3c3;
	border-radius: 100%;
	margin: 6px;
	cursor: pointer;
}

.barra:hover{
	background: #fff;
}

input[name="r"]{
	position: absolute;
	visibility: hidden;
}

.slide{
	width: 500%;
	height: 100%;
	display: flex;
	align-items: center;
}

.item{
	width: 20%;
	transition: 0.6s;
}

.item img{
	min-width: 500px;
	min-height: 300px;
}

#r1:checked ~ .i1{
	margin-left: 0;
}

#r2:checked ~ .i1{
	margin-left: -20%;
}

#r3:checked ~ .i1{
	margin-left: -40%;
}

#r4:checked ~ .i1{
	margin-left: -60%;
}

#r5:checked ~ .i1{
	margin-left: -80%;
}

#r6:checked ~ .i1{
	margin-left: -100%;
}

#r7:checked ~ .i1{
	margin-left: -120%;
}

#r8:checked ~ .i1{
	margin-left: -140%;
}


input[name="s"]{
	position: absolute;
	visibility: hidden;
}

#s1:checked ~ .i1{
	margin-left: 0;
}

#s2:checked ~ .i1{
	margin-left: -20%;
}

#s3:checked ~ .i1{
	margin-left: -40%;
}

#s4:checked ~ .i1{
	margin-left: -60%;
}

#s5:checked ~ .i1{
	margin-left: -80%;
}

#s6:checked ~ .i1{
	margin-left: -100%;
}

input[name="c"]{
	position: absolute;
	visibility: hidden;
}

#c1:checked ~ .i1{
	margin-left: 0;
}

#c2:checked ~ .i1{
	margin-left: -20%;
}

#c3:checked ~ .i1{
	margin-left: -40%;
}