.conteudo{
	max-width: 800px;
	margin: 0 auto;
}

.conteudo p{
	margin-bottom: 3%;
	margin-top: 1%;
}

.faixa{
	background-image: ;
	text-align: center;
	height: 200px;
}

h2{
	position: relative;
	top: 40%;
}
