.conteudo{
	max-width: 900px;
	margin: 0 auto;
	padding-top: 3%;
}

.conteudo p{
	margin-top: 3%;
	padding-bottom: 3%;
}

.conteudo img{
	width: 100%;
}

h2{
	padding: 25px 0;
	text-align: center;
}
