@media screen and (min-width: 1200px){
	.corpo{
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 0 auto;
	}

	.conteudo{
		display: flex;
		align-items: center;
		flex: 1 1 500px;
		width: 30%;
		height: 300px;
		margin: 1% auto;
	}

	.conteudo img{
		width: 120px;
		margin: 0 2%;
	}

	.conteudo p{
		width: 95%;
		text-align: left;
		margin-right: 15px;
	}
	
	h2{
		text-align: center;
		width: 70%;
		margin: 4% auto;
	}
}

@media screen and (max-width: 1200px){
	h2{
		text-align: center;
		width: 90%;
		padding-top: 4%;
	}

	.conteudo{
		display: flex;
		align-items: center;
		margin: 0 2%;
		padding: 5% 0;
	}

	.conteudo img{
		width: 25%;
		margin-right: 2%;
	}
}
